
# Created by https://www.gitignore.io/api/java,maven

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

*.properties
gradle*
.idea
bot.iml
*.gradle
mvnw*
src/main/resources/scraping/
src/main/java/bot/externalservice/apium/data/serialized/*

# End of https://www.gitignore.io/api/java,maven

.DS_Store
out/
src/main/main.iml
src/main/java/bot/data/.DS_Store
src/main/java/bot/data/serialized/old
src/main/java/bot/externalservice/apium/Secret.java
/src/main/java/bot/processor/Secret.java
src/main/java/bot/data/serialized/00_final_list
src/main/java/bot/data/serialized/00_final_map
testing/*
data/serialized/apium/*