<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cities</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<h2>List of stations that meet the criteria</h2>

<table>
    <tr>
        <th>Main name</th>
        <th>Name accepted</th>
    </tr>

    <tr th:each="station : ${stations}">
       <td th:text="${station.main_name}">Main name</td>
        <td th:text="${station.name_accepted}">Name accepted</td>
      </tr>
  </table>

  </body>
  </html>